<div class="card">
    <div class="card-body">
        <div class="h5"><code>@userName</code></div>
        <div class="h7 text-muted">userFullName</div>
        <div class="h7"><code>(designation) ? designation : (role) ? role : nickname : caption</code>
        </div>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <div class="h6 text-muted">Followers</div>
            <div class="h5">followersCnt</div>
        </li>
        <li class="list-group-item">
            <div class="h6 text-muted">Following</div>
            <div class="h5">followingCnt </div>
        </li>
        <li class="list-group-item">location</li>
    </ul>
</div>